@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Orders List</h1>

<a href="/User/Logout">Log out</a>

<table>
    <tr>
        <td>Order ID</td>
        <td>Order Date</td>
        <td>Customer Name</td>
        <td>Order Amount</td>
    </tr>
    <tr>
        <td>00001</td>
        <td>02-Jun-2022</td>
        <td>ABC</td>
        <td>10,000</td>
    </tr>
    <tr>
        <td>00002</td>
        <td>02-Jun-2022</td>
        <td>ABC</td>
        <td>10,000</td>
    </tr>
    <tr>
        <td>00003</td>
        <td>02-Jun-2022</td>
        <td>ABC</td>
        <td>10,000</td>
    </tr>
</table>